[project]
name = "oss4climate"
version = "0.4.9"
readme = "README.md"
description = "Package to create listings of Open Source for Energy"
authors = [
    { name = "Pierre V-F", email = "hello@pierrevf.consulting"}
]

requires-python = ">=3.12"
dependencies = [
    "beautifulsoup4>=4.14.2",
    "docutils>=0.22.2",
    "jinja2>=3.1.6",
    "markdown>=3.10",
    "pandas>=2.3.2",
    "pyarrow>=22.0.0",
    "pydantic>=2.12.4",
    "pydantic-settings>=2.7.1",
    "pyyaml>=6.0.3",
    "requests>=2.32.3",
    "spacy>=3.8.8",
    "sqlmodel>=0.0.27",
    "tomlkit>=0.13.3",
    "tqdm>=4.67.1",
]
packages = [
    "src/oss4climate",
    "src/oss4climate_scripts",
    "src/oss4climate_app",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[dependency-groups]
scripts = [
    "black>=25.11.0",
    "ruff>=0.14.4",
    "typer>=0.20.0",
]
test = [
    "pytest>=9.0.0",
    "httpx>=0.28.1",
    "coverage>=7.11.3",
]
app = [
    "fastapi>=0.121.1",
    "gunicorn>=23.0.0",
    "sentry-sdk[fastapi]>=2.19.2",
    "uvicorn[standard]>=0.38.0",
]
notebooks = [
    "scikit-learn>=1.7.2",
]
