<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                OSS4Climate - Open-source search for climate applications
            {% endblock %}</title>
        <link href="{{ url_for('static', path='/css/styles.css') }}?version={{ APP_VERSION }}" rel="stylesheet">
        <!-- For github buttons -->
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </head>
    <body>
        {% include "_navbar.html" %}
        <div id=""content">
            <h1 class="center">
                {% block heading %}
                    OSS4Climate - Open-source for climate and energy
                {% endblock %}
            </h1>
        </div>

        {% block content %}
        {% endblock %}
    </body>
</html>