<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            {% block title %}
                OSS4Climate - Open-source search for climate applications
            {% endblock %}</title>
        <link href="{{ URL_BASE }}/static/css/styles.css?version={{ APP_VERSION }}" rel="stylesheet">    
        {% if UMAMI_SITE_ID != "" %}
            <script defer src="https://cloud.umami.is/script.js" data-website-id="{{ UMAMI_SITE_ID }}"></script>
        {% endif %}
        
        <link rel="canonical" href="{{ canonical_url }}">
    </head>
    <body>
        {% include "_navbar.html" %}
        <div id="content">
            <h1 class="center">
                {% block heading %}
                    OSS4Climate - Open-source for climate and energy
                {% endblock %}
            </h1>
        </div>

        {% block content %}
        {% endblock %}

        <div class="credits">
            <p class="center">{{ credits_text | safe }}</p>
            <p class="center">-</p>
            <p class="center">
                Maintained by <a href="https://pierrevf.consulting/">PierreVF Consulting</a> 
                | 
                <a href="{{ URL_CODE_REPOSITORY }}" data-umami-event="check-source-code">Source code</a> 
                | 
                <a href="privacy">Privacy policy</a></p>
        </div>
    </body>
</html>