<header>
    <nav class="left">
        <a class="nav_link" href="/ui/search">Search</a> | 
        <a class="nav_link" href="/ui/about">About</a>
    </nav>
    <nav class="right">
        <a class="nav_link" href="/api/docs">API</a> | 
        <a class="nav_link" href="{{ URL_FEEDBACK_FORM }}">Feedback</a> |
        <!-- Place this tag where you want the button to render. -->
        <a class="nav_link" href="{{ URL_CODE_REPOSITORY }}" data-umami-event="check-source-code">Source code</a>
    </nav>
</header>