<header>
    <nav class="left">
        <a class="nav_link" href="/ui/search">Search</a> | 
        <a class="nav_link" href="/ui/about">About</a>
    </nav>
    <nav class="right">
        <a class="nav_link" href="{{ URL_FEEDBACK_FORM }}">Feedback</a> 
        <!-- Place this tag where you want the button to render. -->
        <a class="github-button" href="{{ URL_CODE_REPOSITORY }}" style="vertical-align: baseline" data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-star" data-size="large" aria-label="Star Pierre-VF/oss4climate on GitHub">Source code</a>
    </nav>
</header>